/* Profile page */

.user-profile {
  padding: 10px;
  .user-profile-editable {
    background-color: #E6E6E6;
    padding: 20px 30px;
    &_field {
      display: block;
      border: 1px solid transparent;
      width: 70%;
      color: inherit;
      transition: font-size 0.1s ease 0s, padding 0.1s ease 0s;
      &:hover {
        border: 1px solid #A2A2A2;
      }
      &#username {
        color: #000000;
        font-size: 2.7em;
        padding-left: 5px;
        margin-bottom: 7px;
        height: 42px;
        line-height: 40px;
        + .editable-container .editable-buttons {
          top: 11px;
          button {
            padding: 4px 7px;
          }
        }
        &:hover {
          font-size: 2.6em;
          padding-left: 7px;
        }
      }
      &#country, &#language {
        font-weight: 600;
        font-size: 1.1em;
        padding-left: 5px;
        margin-bottom: 3px;
        height: 22px;
      }
    }
  }
  .editable-container {
    &.editable-inline {
      width: 70%;
      position: relative;
      .editableform, .editableform .form-group {
        width: 100%;
      }
    }
    .editable-input {
      width: 100%;
      input {
        border-radius: 0;
        box-shadow: none;
        &.user-profile-editable_field__username {
          color: #000000;
          font-size: 2.7em;
          padding: 0 0 0 5px;
          margin-bottom: 7px;
          height: 42px;
        }
        &.user-profile-editable_field__country {
          margin-bottom: 3px;
        }
        &.user-profile-editable_field__country, &.user-profile-editable_field__language {
          padding: 0 0 0 5px;
          height: 22px;
        }
      }
      .editable-clear-x {
        display: none !important;
      }
    }
    .editable-buttons {
      position: absolute;
      right: 8px;
      top: 0;
    }
  }
  button {
    border-radius: 50%;
    padding: 1px 4px;
    font-size: 0.7em;
    color: #ffffff;
    background-color: #E6E6E6;
    border: 0 none;
    &:hover {
      background-color: #5C5C5C;
    }
  }
  .tagsinput {
    border: none;
    background: none;
    padding: 0;
    height: 55px !important;
    overflow: auto;
    position: relative;
    margin-top: 20px;
    min-height: auto !important;
    width: 70% !important;
    .tag {
      padding: 0 1px 0 10px;
      a {
        position: absolute;
        color: #ffffff;
        background-color: #FA7471;
        border-radius: 50%;
        padding: 0px 4px;
        font-size: 0.7em;
        font-weight: 600;
        height: 15px;
        line-height: 14px;
        top: 4px;
        right: 3px;
        display: none;
      }
      &:hover {
        a {
          text-decoration: none;
          display: block;
        }
      }
    }
    div {
      position: absolute;
      bottom: 0;
      width: 55%;
    }
    input {
      background: none;
      border: 1px solid transparent;
      width: 100% !important;
      cursor: pointer;
      font-size: 1.05em;
      padding-left: 5px;
      color: #4C4C4C !important;
      + select {
        position: absolute;
        bottom: 2px;
        height: 19px;
        font-size: 0.8em;
        right: 27px;
        opacity: 0;
      }
      ~ button {
        position: absolute;
        bottom: 4px;
        right: 6px;
        opacity: 0;
      }
      &:focus, &.focused {
        background-color: #ffffff;
        border: 1px solid #1DFF1D;
        + select, ~ button {
          opacity: 1;
        }
      }
    }
  }
  .user-profile-cell {
    &_header {
      font-weight: 600;
      font-size: 1.2em;
      padding: 16px 16px 0;
      height: 55px;
      span {
        display: block;
        font-weight: 400;
        font-size: 0.8em;
      }
    }
    &_content{
      padding: 16px 0 0;
    }
    &_big-label {
      font-weight: 600;
      font-size: 2.35em;
      padding-bottom: 20px;
    }
    &-quote {
      background: url('../img/quote.jpg') no-repeat center;
      width: 210px;
      height: 174px;
      margin: 0 auto 10px;
      &_text {
        padding: 18px 9px 10px;
        font-style: italic;
        font-family: times new roman;
        font-size: 1.2em;
        line-height: 1.05em;
      }
      &_author {
        float: right;
        font-weight: 600;
        font-size: 0.9em;
        padding-right: 9px;
      }
    }
  }
}
